@media (max-width: 480px)  {
    .services {
        &__catalog {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            flex-wrap: wrap;
        }       
    }  
    .articles {
        &__item {
            max-width: 100%;
            padding: 0px 10px;
        }
        &__title {
            font-size: 18px;
        }
        &__items-list {
            font-size: 12px;            
        }
    }
}

@media (max-width: 767px) {
    .services {
        &-item {
            width: 100%;
            margin: 20px;
        }
        &-item__img img {
            width: 100%;
        }
        &-item:last-child {
            margin: 20px;
        }  
        
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .header {        
        &__logo span {
            font-size: 16px;
        }
        &__nav {
            font-size: 12px;
        }
    }

}
